.Menu {
    color: black;
}

body {
    background-color: #ADB5BD;
}

body::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}



.not-found {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
}

.not-found link{
  color: #0070f3;
  text-decoration: underline;
}


.wrapper{
  font-family: "Roboto", sans-serif;
  position: relative;
  top: 110px;
  right: 29%;
  
  
}

.wrapper .static-txt{
  color: black;
  font-size: 60px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  right: 35px;
  min-width: 150px
}
.wrapper .dynamic-txts{
  margin-left: 15px;
  height: 90px;
  line-height: 0px;
  overflow: hidden;
  position: relative;
  top: -110px;
  right: -125px;
  font-family: "Roboto", sans-serif;
}
.dynamic-txts li{
  list-style: none;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  font-weight: 500;
  top: 20px;
  right: 40px;
  animation: slide 12s steps(4) infinite;
  position: relative;
  bottom : 800px;
}
@keyframes slide {
  100%{
    top: -350px;
  }
}
.dynamic-txts li span{
  position: relative;
  margin: 0px 0;
  line-height: 90px;
}
.dynamic-txts li span::after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #ADB5BD;
  border-left: 2px solid black;
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}

:root {
  --shadow-color: 0deg 0% 26%;
  --shadow-elevation-low:
    0.8px 0.9px 1.2px hsl(var(--shadow-color) / 0.6),
    1.3px 1.4px 1.9px -1.7px hsl(var(--shadow-color) / 0.49),
    3.5px 3.9px 5.1px -3.5px hsl(var(--shadow-color) / 0.37);
  --shadow-elevation-medium:
    0.8px 0.9px 1.2px hsl(var(--shadow-color) / 0.63),
    2.2px 2.5px 3.2px -1.2px hsl(var(--shadow-color) / 0.54),
    6.6px 7.4px 9.7px -2.3px hsl(var(--shadow-color) / 0.45),
    17.5px 19.7px 25.7px -3.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high:
    0.8px 0.9px 1.2px hsl(var(--shadow-color) / 0.67),
    4.2px 4.8px 6.2px -0.6px hsl(var(--shadow-color) / 0.61),
    9.2px 10.3px 13.5px -1.2px hsl(var(--shadow-color) / 0.56),
    18.2px 20.4px 26.7px -1.7px hsl(var(--shadow-color) / 0.51),
    34.1px 38.3px 50px -2.3px hsl(var(--shadow-color) / 0.45),
    59.5px 66.7px 87.1px -2.9px hsl(var(--shadow-color) / 0.4),
    97.1px 108.9px 142.3px -3.5px hsl(var(--shadow-color) / 0.34);
}