.container {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  border-radius: 30px;
  min-height: 100vh;
}
.Menu {
  color: white;
  background-color: black
  ;
}
.List{
  color: white; 
}

.NotFound {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
}
.NotFound a {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color: blue;
  text-decoration: underline;
}

.page_container {
  position: absolute;
  justify-content: center;
  left: 50%;
  align-items: center;
  min-height: 100vh;
  top: 20%;
}


.title {
  max-width: 500px;
  max-height: 500px;
}
.title p {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  position: absolute;
  top: -10px;
  right: 93%;
  min-width: 200px;
  max-height: 40px;
  margin: 0;

  
}

.title h1{
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  text-align: left;
  position: absolute;
  max-width: 2000px;
  top : 4%;
  right: 71%;
  text-decoration: underline;
  text-decoration-color: rgb(120, 120, 215);
  margin: 0;
  min-width: 300px;

}


.image {
  position: relative;
  height: 100%;
  overflow: hidden;;
  right: 30%;

}

.description {
  width: 100%;
}

@media (max-width: 2560px)
{
  
}

.description p {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  text-align: center;
  position: relative;
  top: 300px;
  right: 50%;
  min-width: 20hv;
  min-height: 200px;
}

.skills {
  position: relative;
  top: 10px;
  right: 110%;
  z-index: 2;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  padding: 40px;
  grid-column: 2;
}

.skills h2 { 
  position: relative;
  display: inline;
  font-size: 50px;
  font-size: 50px;
  bottom: 20px;
  right: 5px;
}

.skills h3 {
  font-size: 20px;
  overflow: hidden;
  bottom : 100px;
}

.education {
  position: absolute;
  top: 340px;
  right: 10%;
  z-index: 2;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  padding: 50px;
  grid-column: 3;
}

.education h2 {
  font-size: 50px;
  font-size: 50px;
}

.education h3 {
  position: inherit;
  top: 130px;
  right: 93px;
  font-size: 25px;
}

.education h4 {
  position: inherit;
  top: 165px;
  right: 20px;
  font-size: 15px;
}