.header {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 75px;
}


.card {
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    border: 1px solid black;
    padding: 5px;
    background-color: #495057;
    border-radius: 10px;
    box-shadow: var(--shadow-elevation-medium);

}

.badge {
    text-align: center;
    justify-content: right;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    max-width: 35px;
    padding: 3px;
    border-radius: 5px;
}


.project_card {
  position: relative;
  z-index: 2;
  min-height: 100vh;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  max-width: 2000px;
  margin: 50 auto;
}

.project_card button {
  color: white;
  transition: 0.25s;
}

.project_card button::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    transition: transform 0.25s;
    transform: scalex(0);
    transform-origin: right;
    background-color: rgb(190, 190, 249);
}

.project_card button:hover {
  color:rgb(190, 190, 249);
}

.project_card button:hover::after {
    transform: scalex(1);
    transform-origin: left;
}

.project_card a {
  color: white;
  transition: 0.5s;
}

.project_card a:hover {
    color:rgb(190, 190, 249);
  }

